# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

lib/core/tokens/.cache
lib/components/icons/default
lib/components/icons/social


node_modules
dist
dist-ssr
*.local
storybook-static
.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage reports
coverage
