// NEUTRAL COLORS
$color-neutral-70: #16181D;
$color-neutral-60: #313131;
$color-neutral-50: #454A54;
$color-neutral-40: #5E6573;
$color-neutral-30: #C4C9D4;
$color-neutral-20: #E2E4E9;
$color-neutral-10: #F6F7FA;
$color-neutral-00: #FFFFFF;


//BRAND COLORS
/* blue */
$color-brand-blue-60: #18256C;
$color-brand-blue-50: #1737A4;
$color-brand-blue-40: #0048DB;
$color-brand-blue-30: #9ABCFF;
$color-brand-blue-20: #DCE8FF;
$color-brand-blue-10: #FAFBFF;

/* emerald */
$color-brand-emerald-60: #013220;
$color-brand-emerald-50: #026441;
$color-brand-emerald-40: #04D98C;
$color-brand-emerald-30: #95F0CF;
$color-brand-emerald-20: #CCF2E4;
$color-brand-emerald-10: #EDFEF7;

/* cyan */
$color-brand-cyan-60: #004155;
$color-brand-cyan-50: #005C77;
$color-brand-cyan-40: #02BEDF;
$color-brand-cyan-30: #3EDCFF;
$color-brand-cyan-20: #CCF3FF;
$color-brand-cyan-10: #F1FCFF;


// FEEDBACK COLORS
/* sucess */
$color-sucess-60: #08331A;
$color-sucess-50: #10593B;
$color-sucess-40: #138040;
$color-sucess-30: #66CC90;
$color-sucess-20: #A1E5BD;
$color-sucess-10: #E5FFF0;
$color-sucess-00: #F0FCF5;

/* error */
$color-error-60: #731111;
$color-error-50: #991717;
$color-error-40: #E52222;
$color-error-30: #FF8080;
$color-error-20: #FFBFBF;
$color-error-10: #FFE5E5;
$color-error-00: #F5EFF0;

/* warning */
$color-warning-60: #803500;
$color-warning-50: #A64A08;
$color-warning-40: #FA822C;
$color-warning-30: #FFC59C;
$color-warning-20: #FFDABF;
$color-warning-10: #FFF0E6;
$color-warning-00: #FCF4F0;

/* info */
$color-info-60: #46008C;
$color-info-50: #510CB2;
$color-info-40: #6728E5;
$color-info-30: #BD9CFF;
$color-info-20: #D4BFFF;
$color-info-10: #EEE6FF;
$color-info-00: #F3F0FC;