.teste {
  font-family: $font-lexend-deca;
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  color: $color-brand-blue-40;
}

.teste2 {
  font-family: $font-source-sans-3;
  font-size: $font-size-h4;
}
